
<div class="row">

	<div class="col-xs-9">
		<h2>小説タイトル一覧</h2>
		<!--novels一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ</th>
					<th>タイトル</th>
					<th>作者</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @novels.each do |novel| %>
				<tr>
					<td><%= novel.series_novel.title%></td>
					<td><%= link_to novel.title, admins_novel_path(novel), class: "novel_#{novel.id}" %></td>
					<td><%= novel.end_user.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--novels一覧 -->
	</div>
</div>