<div class="col-lg-10 offset-1 space">
	<h2 class="section-ttl">投稿完了しました</h2>
	<div class="text-center">
		<%= link_to "投稿を続ける", new_publics_novel_path, class: "btn btn-primary" %>
		<%= link_to "マイページに戻る", publics_end_user_path(current_end_user), class: "btn btn-primary" %>
	</div>
</div>