
<div class="row ">
	<div class ="visual">

<div class="cover-text text-center">
<h1>
	ようこそ!<br>
	C.R.E(Create・Read・Evaluate)へ<br>
</h1>
<div class="sign_up">
	<h3><a class="btn-partial-line fa fa-caret-right" href="/end_users/sign_up">新規登録</a></h3>
</div>

<div class="log_in">
	<h3><a class="btn-partial-line fa fa-caret-right" href="/end_users/sign_in">ログイン</a></h3>
</div>
</div>
</div>
</div>
