<div class="col-xs-2">

</div>

<tr></tr>

<div class="cover-text text-center">
<h4>
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。<br>
</h4>
</div>
<div class="col-xs-8">
<h2>オススメ商品</h2>
<div>

</div>