<div class="container">
	<div class="row">
	<h2>会員一覧</h2>
	</div>
	
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
				</tr>
			</thead>
		
			<tbody>
				<% @end_users.each do |end_user| %>
				<tr>
					<td><%= end_user.id %></td>
					<td><%= link_to admins_end_user_path(end_user) do %>
						<%= end_user.name %>
		              	<% end %>
					</td>
					<td><%= end_user.email %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		  
	</div>
</div>


