
<div class="row">
	<div class="col-xs-3">

		<h2>end_user info</h2>
		<%= render 'publics/end_users/profile', end_user: current_end_user %>

	</div>

	<div class="col-xs-9">
		<h2>小説シリーズ一覧</h2>
		<!--series_novels一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ名</th>
					<th>紹介</th>
					<th></th>
					<th colspan="4"></th>
				</tr>
			</thead>

			<tbody>
				<% @series_novels.each do |series_novel| %>
				<tr>
					<td><%= link_to series_novel.title, publics_series_novel_path(series_novel), class: "novel_#{series_novel.id}" %></td>
					<td><%= series_novel.introduction %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--series_novels一覧 -->
	</div>
</div>